/* General styling */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dfcca7; /* Light cream color */
}

/* Container styling */
.container {
    display: flex;
    height: 100vh;
}

/* Sidebar styling */
.sidebar {
    width: 20%;
    background-color: #001f3f; /* Navy blue */
    color: #ffffff; /* White text */
    padding: 20px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
}

.sidebar h2 {
    font-size: 24px;
    text-align: center;
}

.sidebar-info {
    margin-top: 20px;
    background-color: #004080; /* Darker blue for info box */
    padding: 15px;
    border-radius: 10px;
}

.sidebar-info p {
    font-size: 14px;
    line-height: 1.6;
}

/* Main content styling */
.main-content {
    width: 80%;
    padding: 30px;
}
.custom-file-upload {
    display: inline-block;
    background-color: #0074D9; /* Blue button style for "Choose File" */
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.custom-file-upload:hover {
    background-color: #005bb5; /* Darker blue on hover */
}
/* Form section styling */
.form-section {
    background-color: #ffffff; /* White background for form */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.form-section h3 {
    color: #001f3f; /* Navy blue text */
}

.form-section input[type="file"] {
    margin-top: 10px;
}

.form-section button {
    background-color: #0074D9; /* Blue button */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px; /* Rounded corners for buttons */
    font-size: 16px;
}

.form-section button:hover {
    background-color: #005bb5; /* Darker blue on hover */
}

/* Styled buttons for prediction and info */
.info-button, .form-section button {
    transition: all 0.3s ease-in-out; /* Smooth hover effect */
}

.info-button {
    background-color: #004080; /* Dark blue for sidebar button */
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
}

.info-button:hover {
    background-color: #00264d; /* Even darker blue on hover */
}

/* Image preview styling */
#image-preview-container {
    margin-top: 20px;
}

#image-preview {
    max-width: 100%;
    height: auto;
}

/* Result section styling */
.result-section {
    display: flex;
    justify-content: space-between;
}

.result-section .uploaded-image,
.result-section .prediction-image {
    width: 45%;
}

.result-section img {
    width: 100%;
}
